In [1]:
mylist=["vishal","5","69.25"]

In [2]:
print(mylist)

['vishal', '5', '69.25']

# List Indexing and Slicing

In [3]:
mylist=["vishal","5","69.25"]

In [4]:
mylist[1] #list indexing

'5'

In [97]:
mynewlist=[1,"4",[25,50]] # we need to print 50

In [98]:
mynewlist[2][1]    # to print item of a list in a list i.e. nested list # imp

50

In [5]:
mylist[1:] #list slicing

['5', '69.25']

In [12]:
mylist[::-1]  #reversing of list elements

['69.25', '5', 'vishal']

# Concatination of Lists

In [13]:
name=["vishal"]

In [14]:
post=["software developer"]

In [ ]:
w=[]  #w is an empty list (let)

In [31]:
w=name+post

In [32]:
w

['vishal', 'software developer']

In [47]:
w[1] ='Software engineer'

In [48]:
print(w[1])

Software engineer

# Adding items in a List

In [49]:
w

['vishal', 'Software engineer']

In [50]:
w.append('Financial Analyst')

In [51]:
w

['vishal', 'Software engineer', 'Financial Analyst']

# Removing items from List

In [52]:
w.pop()    #removing item from last

'Financial Analyst'

In [53]:
w        # now list contains only first two items , see below.

['vishal', 'Software engineer']

In [54]:
w.pop(0)   #removing item at particular index

'vishal'

In [55]:
w

['Software engineer']

# Sorting of a list

In [75]:
abc=['e','z','h','u','c','d']
no=[23,65,12,87,55]

In [76]:
no.sort()

In [77]:
no

[12, 23, 55, 65, 87]

In [78]:
my_sorted_list=no.sort

In [81]:
my_sorted_list

In [80]:
type(my_sorted_list)

builtin_function_or_method

In [82]:
my_sorted_list=no

In [83]:
my_sorted_list

[12, 23, 55, 65, 87]

In [84]:
abc.sort()

In [85]:
abc

['c', 'd', 'e', 'h', 'u', 'z']

In [86]:
another_sorted_list=abc

In [87]:
another_sorted_list

['c', 'd', 'e', 'h', 'u', 'z']

In [95]:
abc.reverse()        #reversing of a list

In [96]:
abc

['z', 'u', 'h', 'e', 'd', 'c']