In [2]:
myset= set()

In [3]:
myset

set()

In [4]:
myset.add(1)

In [5]:
myset

{1}

In [6]:
myset.add(2)

In [7]:
myset

{1, 2}

In [8]:
myset.add(2)  # trying adding same element again in the set

In [9]:
myset        # not added ! , As set is unodered collection of unique elements.

{1, 2}

In [10]:
mylist=[1,1,1,1,1,1,2,2,2,2,3,3,4]

In [11]:
set(mylist)   # converting a list into a set by typecasting

{1, 2, 3, 4}

In [18]:
l=[1,1,2,3]

In [19]:
set(l)

{1, 2, 3}